@font-face {
  font-family: "Manrope";
  font-weight: 200 800;
  font-display: swap;
  src: url("./assets/fonts/Manrope-VariableFont_wght.woff2")
    format("woff2-variations");
}

:root {
  /* Colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey-900: hsl(217, 19%, 35%);
  --clr-grey-500: hsl(214, 17%, 51%);
  --clr-grey-400: hsl(212, 23%, 69%);
  --clr-grey-200: hsl(210, 46%, 95%);
  /* Spacing */
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-1300: 6.5rem;
  --spacing-2000: 10rem;
}

/* BASELINE STYLES */
/*
  Based on Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-grey-200);
  min-height: 100svh;
  padding: var(--spacing-300);
}

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: var(--spacing-300);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* UTILITIES */
/*
  Based on Josh Comeau's VisuallyHidden React component
  https://www.joshwcomeau.com/snippets/react-components/visually-hidden/
 */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

/* TYPOGRAPHY */
.text-preset-1 {
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.25px;
}

.text-preset-2 {
  font-size: 0.8125rem;
  line-height: 1.4;
  letter-spacing: 0.12%;
}

.text-preset-3 {
  font-size: 0.8125rem;
  line-height: 1.4;
  letter-spacing: 25%;
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

/* ARTICLE PREVIEW COMPONENT */
.preview {
  background-color: var(--clr-white);
  border-radius: 0.625rem;
  box-shadow: 0 40px -10px hsla(210, 29%, 84%, 0.5);
  overflow: hidden;
}
